{%- liquid

  assign alignment = 'a-left'
  if show_count == false and show_link == false
    assign alignment = 'a-center'
  endif

-%}
{% if collection != blank %}
  <article
    class="collection-loop__item {{ items_per_row }} relative collection-loop__item--{{ settings.image_ratio }}"
    data-alpha="{{ collection.title }}"
    {{ block.shopify_attributes }}>
    <div class="collection-loop__img-wrapper relative">
      <a href="{{ collection.url }}" title="{{ collection_title }}">
        <div class="relative">
          {%- liquid
            assign sm_render = 'calc(100vw / 2)'
            assign md_render = 'calc(100vw / ' | append: grid_items | append: ')'
            assign lg_render = 'calc(1600px / ' | append: grid_items | append: ')'

            assign collection_image = false
            if collection.image and product_image == false
              assign collection_image = true
            endif

            if collection.image and collection.products.first.featured_media == false
              assign collection_image = true
            endif

          -%}
          {% if collection_image %}
            {% render 'helper-image',
               type: collection.image,
               sm_render: sm_render
               md_render: md_render,
               lg_render: lg_render %}
          {% elsif collection.products.first.featured_image %}
            {% render 'helper-image',
               type: collection.products.first.featured_image,
               sm_render: sm_render
               md_render: md_render,
               lg_render: lg_render %}
          {% else %}
            <div class="demo-1 color-2 relative">
              {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}
        </div>
      </a>
    </div>

    <div class="collection-loop__info mt1 pb1 px1 {{ alignment }}">
      <h3 class="collection-loop__title pt2 {% if show_count %}inline-block w70{% endif %} animate--text">
        {%- unless show_link -%}
          <a class="collection-loop__collection-link mb0" href="{{ collection.url }}" title="{{ collection_title }}">
        {%- endunless -%}
          {{ collection.title }}
        {%- unless show_link -%}
          </a>
        {%- endunless -%}
      </h3>
      {%- if show_count -%}
        <p class="collection-loop__collection-count mb0 inline-block w30 a-right animate--text">{{ 'collections.general.item_count.other' | t: count: collection.all_products_count }}</p>
      {%- endif -%}
      {%- if show_link -%}
        <a class="collection-loop__collection-link mb0 inline-block animate--text delay--1" href="{{ collection.url }}" title="{{ collection_title }}">
          {{ 'collections.general.shop_collection' | t }}
          {% render 'snip-icons',
             wrapper: '.collection-loop__collection-link',
             type: 'theme',
             icon: 'arrow-right',
             size: '8px',
             classes: 'ml3 vib-center',
             fill: 'var(--text-color)',
             hover: 'var(--text-color)' %}
        </a>
      {%- endif -%}
    </div>
  </article>
{% else %}
  <article
    class="collection-loop__item {{ items_per_row }} relative .collection-loop__item--{{ settings.image_ratio }}"
    data-alpha="{{ collection.title }}"
    {{ block.shopify_attributes }}>

    <div class="collection-loop__img-wrapper relative">
      <div class="demo-1 color-2 relative">
        {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    </div>

    <div class="collection-loop__info mt1 pb1 px1 {{ alignment }}">
      <h3 class="collection-loop__title pt2 {% if show_count %}inline-block w70{% endif %} animate--text">
        {%- unless show_link -%}
          <a class="collection-loop__collection-link mb0" href="#" title="Collection title">
        {%- endunless -%}
          {{ 'products.product.collection' | t }} {{ forloop.index }}
        {%- unless show_link -%}
          </a>
        {%- endunless -%}
      </h3>
      {%- if show_count -%}
        <p class="collection-loop__collection-count mb0 inline-block w30 a-right animate--text">{{ 'collections.general.item_count.other' | t: count: 3 }}</p>
      {%- endif -%}
      {%- if show_link -%}
        <a class="collection-loop__collection-link mb0 inline-block animate--text delay--1" href="#" title="Collection title">
          {{ 'collections.general.shop_collection' | t }}
          {% render 'snip-icons',
             wrapper: '.collection-loop__collection-link',
             type: 'theme',
             icon: 'arrow-right',
             size: '8px',
             classes: 'ml3 vib-center',
             fill: 'var(--text-color)',
             hover: 'var(--text-color)' %}
        </a>
      {%- endif -%}
    </div>
  </article>
{% endif %}
