<div class="mobile-nav__mobile-header grid__wrapper mb1 pt3 pb3">
  <ul class="span-3 md-span-3 sm-span-3 auto a-left v-center list-style-none mb0">
    <li>
      <div class="slideout__trigger--close">
        <button class="slideout__trigger-{{ type }} js-slideout-close btn-as-link" data-slideout-direction="{{ slideout_direction }}" aria-label="Close navigation" tabindex="0" type="button" name="button">
          {% render 'snip-icons',
             wrapper: '.mobile-nav__mobile-header',
             type: 'theme',
             icon: 'close',
             size: '20px',
             classes: 'mt0 mr0 mb0 ml0',
             fill: fill_color,
             hover: hover_color %}
        </button>
      </div>
    </li>
  </ul>
  <div class="site-logo mobile-nav__logo-wrapper span-6 md-span-6 sm-span-6 auto a-center v-center">
    {% if section.settings.logo != blank %}
      <a class="mobile-nav__img-logo mb0 lh0 inline-block v-center" href="{{ routes.root_url }}">
        <img src="{{ section.settings.logo | img_url: '800x' }}" loading="lazy" alt="{{ shop.name }}">
      </a>
    {% endif %}
  </div>
  <ul class="header__cart-links__wrapper--mobile span-3 md-span-3 sm-span-3 auto a-right v-center list-style-none inline-block mb0">
        {%- if has_search -%}
          <li class="section-top-bar__search v-center a-center no-js-hidden">
            {%- if section.settings.search_style == 'icon' -%}
                <a class="px1 py3 js-search-toggle mb0 inline-block" aria-label="{{ 'general.header.search' | t }}" href="{% if is_mobile %}{{ routes.search_url }}{% else %}#{% endif %}">
                  {% render 'snip-icons',
                     wrapper: '.header__cart-links--search',
                     type: 'theme',
                     icon: 'search',
                     size: '16px',
                     classes: 'mr0',
                     fill: 'var(--announcement-text)',
                     hover: 'var(--announcement-hover)' %}</a>
              {%- else -%}
                <a class="px1 py3 js-search-toggle mb0 inline-block text_toggle" aria-label="{{ 'general.header.search' | t }}" href="#">{{ 'general.header.search' | t }}</a>
              {%- endif -%}
          </li>
        {%- endif -%}
    {% render 'header-cart-links', classes: "m0 p0", use_icons: true, is_mobile: true, fill_color: fill_color, hover_color: hover_color %}
  </ul>
</div>
