{%- liquid

  if type == search
    assign class_prefix = 'search'
  else
    assign class_prefix = 'collection'
  endif

-%}

<div
  class="filter-drawer__wrapper">

  <div class="filter-drawer__mobile-close grid__wrapper narrow pt6">
    <div class="slideout__trigger--close span-12 auto a-right">
      <button class="slideout__trigger-{{ class_prefix }}-filters js-slideout-close btn-as-link" data-slideout-direction="left" aria-label="Close navigation" tabindex="0" type="button" name="button">
        <span class="vib-center sm">{{ 'general.header.close' | t }}</span>
        {% render 'snip-icons',
           wrapper: '.filter-drawer__mobile-close',
           type: 'theme',
           icon: 'close',
           size: '12px',
           classes: 'vib-center',
           fill: 'var(--text-color)',
           hover: 'var(--hover-color)' %}
      </button>
    </div>
  </div>

  <div class="filter-drawer__menu-blocks pt6 grid__wrapper narrow">
    {%- if has_filter or has_sortby -%}
      <div class="filter-drawer__mobile-menu-wrapper span-12 auto relative">
        <div class="filter-drawer__menu-toggle" {% unless has_filter or has_sortby %}style="display: none;"{% endunless %}>
          {%- unless has_filter == false -%}
            <button class="menu-toggle btn-as-link {% unless collection.all_products_count >= 1000 %}active--menu{% endunless %} js-menu-toggle" data-toggle-menu="filter" {% if collection.all_products_count >= 1000 %}style="display: none;"{% endif %}>
              {{ 'collections.filter.filter' | t }}
            絞り込み</button>
          {%- endunless -%}
          {%- unless has_sortby == false -%}
            <button class="menu-toggle btn-as-link js-menu-toggle {% if collection.all_products_count >= 1000 or has_filter == false %}active--menu{% endif %}" data-toggle-menu="sort">
              {{ 'collections.sorting.sort_title' | t }}
            並べ替え</button>
          {%- endunless -%}
        </div>
        <div class="filter-drawer__mobile-menus js-menu-outer">
         {%- unless has_filter == false -%}
           <div class="filter-drawer__menu-block {% unless collection.all_products_count >= 1000 %}active--menu{% endunless %} js-mobile-menu" data-menu-handle="filter" {% if collection.all_products_count >= 1000 %}style="display: none;"{% endif %}>
            <ul class="slide-nav__first-level--wrapper {% unless collection.all_products_count >= 1000 %}nav-slide--active{% endunless %}" data-link-parent="main">
              {%- for filter in type.filters -%}
                <li class="slide-nav__first-level--item">
                  <a class="slide-nav__first-level--link mb0 vib-center" data-link-trigger="{{ filter.label | handleize }}" href="{{ type.url }}">{{ filter.label | escape }}</a>
                  <button class="slide-nav__first-level--button dropdown-arrow slide-nav__button vib-center" data-link-trigger="{{ filter.label | handleize }}" aria-label="{{ filter.label | escape }}">
                    {% render 'snip-icons',
                       wrapper: '.slide-nav__button',
                       type: 'theme',
                       icon: 'bold-carrot-right',
                       size: '12px',
                       classes: 'mobile_nav--arrow inactive-arrow mt0 mr0 mb0 ml0',
                       fill: 'var(--text-color)',
                       hover: 'var(--text-color)' %}
                  </button>
                </li>
              {%- endfor -%}
            </ul>

            {%- for filter in type.filters -%}
              <ul class="slide-nav__second-level--wrapper" data-link-parent="{{ filter.label | handleize }}">
                <li class="slide-nav__second-level--item">
                  <button class="slide-nav__parent--button dropdown-arrow slide-nav__button vib-center" data-link-trigger="main" aria-label="{{ filter.label | escape }}">
                    {% render 'snip-icons',
                       wrapper: '.slide-nav__button',
                       type: 'theme',
                       icon: 'bold-carrot-right',
                       size: '12px',
                       classes: 'mobile_nav--arrow inactive-arrow mt0 mr0 mb0 ml0',
                       fill: 'var(--text-color)',
                       hover: 'var(--text-color)' %}
                  </button>
                  {{ 'collections.filter.filter' | t }} {{ filter.label | escape }}
                </li>
                {%- case filter.type -%}
                  {%- when 'list' -%}
                    {%- liquid

                      assign is_size_filter = false
                      assign is_color_filter = false
                      assign filter_label_to_lowercase = filter.label | downcase

                      if filter_label_to_lowercase contains "color"
                        assign is_color_filter = true
                      elsif filter_label_to_lowercase contains "colour"
                        assign is_color_filter = true
                      elsif filter_label_to_lowercase contains "size"
                        assign is_size_filter = true
                      endif

                      if is_color_filter
                        assign filter_type = 'color'
                      elsif is_size_filter
                        assign filter_type = 'size'
                      else
                        assign filter_type = 'regular'
                      endif

                    -%}
                    {% for value in filter.values %}
                      {%- if is_color_filter -%}
                        <li class="slide-nav__second-level--item slide-nav__filter--color {{ class_prefix }}__color-filter--true {{ class_prefix }}__sm-filter--final-level js-filter {% if value.active %}active--filter{% endif %}">
                          <input type="checkbox"
                            name="{{ value.param_name }}"
                            value="{{ value.value }}"
                            {% if value.active %}checked{% endif %}
                            {% if value.count == 0 and value.active == false %}disabled{% endif %}
                          >
                          <a class="slide-nav__second-level--link mb0" href="{{ url }}">
                            {%- liquid
                                assign swatch_color_name = value.label | handleize | downcase | append: '.png'
                                assign swatch_image_url = swatch_color_name | file_url
                                assign css_color = value.label | split: ' ' | last | downcase

                                if images[swatch_color_name] != blank
                                  assign bg_img = 'background-image:url(' | append:  swatch_image_url | append: ');'
                                else
                                  assign bg_img = ''
                                endif
                                assign bg_color = 'background-color:' | append:  css_color | append: ';'
                              -%}
                            <span class="color-filter color-filter--rounded color-filter--{{ status }} {{ status }}" style="{{ bg_color }}{{ bg_img }}"></span>
                            <span class="color-filter--label">{{ value.label | escape }} <span class="filter__count">({{ value.count }})</span></span>
                          </a>
                        </li>
                      {%- else -%}
                        <li class="slide-nav__second-level--item slide-nav__filter--{{ filter_type }} {{ class_prefix }}__sm-filter--final-level js-filter {% if value.active %}active--filter{% endif %}">
                          <input type="checkbox"
                            name="{{ value.param_name }}"
                            value="{{ value.value }}"
                            {% if value.active %}checked{% endif %}
                            {% if value.count == 0 and value.active == false %}disabled{% endif %}
                          >
                          <a class="slide-nav__second-level--link mb0" href="{{ url }}">
                            <span class="filter__text--label">{{ value.label | escape }} <span class="filter__count">({{ value.count }})</span></span>
                          </a>
                        </li>
                      {%- endif -%}
                    {% endfor %}
                  {%- when 'price_range' -%}
                    {% liquid
                      assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                      assign uses_comma_decimals = false
                      if currencies_using_comma_decimals contains cart.currency.iso_code
                        assign uses_comma_decimals = true
                      endif
                    %}
                    <li class="slide-nav__second-level--item {{ class_prefix }}__sm-filter--final-level" data-filters-price-range>
                      <div class="filter-range__boxes js-price-range pt5">
                        <div class="filter-range__field">
                          <label class="filter-range__field__label visually-hidden" for="Filter-{{ filter.label | escape }}-{{ forloop.index }}">{{ 'collections.filter.from' | t }}</label>
                          <span class="filter-range__field__currency h3">{{ cart.currency.symbol }}</span>
                          <input class="filter-range__field__input js-filter-range-input js-price-min-output"
                            name="{{ filter.min_value.param_name }}"
                            id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                            {%- if filter.min_value.value -%}
                              {%- if uses_comma_decimals -%}
                                value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | split: '.' | first }}"
                              {%- else -%}
                                value="{{ filter.min_value.value | money_without_currency | replace: ',', '' | round }}"
                              {%- endif -%}
                            {%- endif -%}
                            type="number"
                            min="0"
                            {%- if uses_comma_decimals -%}
                              max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | ceil }}"
                            {%- else -%}
                              max="{{ filter.range_max | money_without_currency | replace: ',', '' | ceil }}"
                            {%- endif -%}>
                          </input>

                          <p class="filter-range__field__label-to h4 inline-block mb0 mx4">{{ 'collections.filter.to' | t }}</p>
                        </div>
                        <div class="filter-range__field">
                          <label class="filter-range__field__label visually-hidden" for="Filter-{{ filter.label | escape }}-{{ forloop.index }}">{{ 'collections.filter.to' | t }}</label>
                          <span class="filter-range__field__currency h3">{{ cart.currency.symbol }}</span>
                          <input class="filter-range__field__input js-filter-range-input js-price-max-output"
                            name="{{ filter.max_value.param_name }}"
                            id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                            {%- if filter.max_value.value -%}
                              {%- if uses_comma_decimals -%}
                                value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | split: '.' | first }}"
                              {%- else -%}
                                value="{{ filter.max_value.value | money_without_currency | replace: ',', '' | round }}"
                              {%- endif -%}
                            {%- endif -%}
                            type="number"
                            min="0"
                            {%- if uses_comma_decimals -%}
                              max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | ceil }}"
                            {%- else -%}
                              max="{{ filter.range_max | money_without_currency | replace: ',', '' | ceil }}"
                            {%- endif -%}>
                          </input>
                        </div>

                        <div class="filter-range__slider--wrapper span-2 auto">
                          <input class="filter-range__slider--input"
                            {%- if filter.min_value.value -%}
                              {%- if uses_comma_decimals -%}
                                value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | split: '.' | first }}"
                              {%- else -%}
                                value="{{ filter.min_value.value | money_without_currency | replace: ',', '' | round }}"
                              {% endif %}
                            {%- else -%}
                              value="0"
                            {%- endif -%}
                            min="0"
                            {%- if uses_comma_decimals -%}
                              max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | ceil }}"
                            {%- else -%}
                              max="{{ filter.range_max | money_without_currency | replace: ',', '' | ceil }}"
                            {%- endif -%}
                            step="1"
                            type="range"/>
                          <input class="filter-range__slider--input"
                           {%- if filter.max_value.value -%}
                              {%- if uses_comma_decimals -%}
                                value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                              {%- else -%}
                                value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                              {% endif %}
                            {%- else -%}
                              {%- if uses_comma_decimals -%}
                                value="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | ceil }}"
                              {%- else -%}
                                value="{{ filter.range_max | money_without_currency | replace: ',', '' | ceil }}"
                              {% endif %}
                            {%- endif -%}
                            min="0"
                            {%- if uses_comma_decimals -%}
                              max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | ceil }}"
                            {%- else -%}
                              max="{{ filter.range_max | money_without_currency | replace: ',', '' | ceil }}"
                            {% endif %}
                            step="1"
                            type="range"/>
                        </div>
                      </div>
                    </li>
                {%- endcase -%}
              </ul>
            {%- endfor -%}
          </div>
         {%- endunless -%}
       {%- unless has_sortby == false -%}
          <div class="filter-drawer__menu-block js-mobile-menu {% if collection.all_products_count >= 1000 or has_filter == false %}active--menu{% endif %}" data-menu-handle="sort">
            <ul class="slide-nav__first-level--wrapper {% if collection.all_products_count >= 1000 or has_filter == false %}nav-slide--active{% endif %}" data-link-parent="main">
              {% for option in type.sort_options %}
                {%- liquid
                  if option.value == collection.sort_by
                    assign status = 'current'
                  else
                    assign status = 'available'
                  endif
                -%}

                <li class="slide-nav__first-level--item js-filter">
                  <input type="checkbox"
                   name="sort_by"
                   value="{{ option.value | escape }}" style="display: none;">
                  <a class="slide-nav__first-level--link mb0 vib-center" href="?sort_by={{ option.name | escape }}">
                    <span class="filter__text--label">{{ option.name }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
         {%- endunless -%}
      </div>
      </div>
    {%- endif -%}
  </div>

  {%- if filter_count > 0 -%}
    <div class="filter-drawer__filtering__results grid__wrapper narrow js-filters-reset pt6">
      <h3 class="h5 span-12 auto mb0">{{ 'collections.filter.filtering_by_label' | t }}</h3>
      <ul class="span-12 auto current_filters mb0">
        {%- for filter in type.filters -%}
          {%- for value in filter.active_values -%}
            <li class="current_filters--filter">
              <a class="js-current-filter" href="{{ value.url_to_remove }}">
                {{ value.label | escape }}
              </a>
            </li>
          {%- endfor -%}
          {% if filter.type == "price_range" %}
            {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
              <li class="current_filters--filter">
                <a class="js-current-filter" href="{{ filter.url_to_remove }}">
                  {%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}-{%- if filter.max_value.value -%}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{%- endif -%}
                </a>
              </li>
            {%- endif -%}
          {% endif %}
        {%- endfor -%}
        {%- liquid
          if type == collection
            assign clear_url = collection.url
          else
            assign clear_url = routes.search_url
          endif
        -%}
        <li><a class="current_filters--clear js-current-filter ml4" href="{{ clear_url }}">{{ 'collections.filter.clear_all' | t }}</a></li>
      </ul>
    </div>
  {%- endif -%}


  <style>
    .filter-drawer__wrapper,
    .filter-drawer__menu-block,
    .slide-nav__second-level--wrapper,
    .slide-nav__third-level--wrapper {
      background: var(--background);
    }
    .filter-drawer__wrapper,
    .filter-drawer__wrapper span,
    .filter-drawer__wrapper small,
    .filter-drawer__wrapper p,
    .filter-drawer__wrapper p a,
    .filter-drawer__wrapper li a,
    .filter-drawer__wrapper .product-price,
    .slide-nav__first-level--link,
    .slide-nav__parent--link,
    .slide-nav__second-level--link,
    .slide-nav__third-level--link {
      color: var(--text-color);
    }
    .filter-drawer__menu-toggle {
      border-color: var(--dotted-color);
    }
    .slide-nav__first-level--wrapper,
    .mobile-menu__simple-links ul,
    .slide-nav__first-level--item,
    .slide-nav__second-level--item,
    .slide-nav__third-level--item {
      border-color: var(--dotted-color);
    }
    .filter-drawer__menu-toggle button.menu-toggle {
      background-color: var(--background) !important;
      color: var(--text-color) !important;
    }
    .filter-drawer__menu-toggle button.menu-toggle.active--menu,
    .filter-drawer__menu-toggle button.menu-toggle:hover {
      background-color: var(--text-color) !important;
      color: var(--background) !important;
    }
    .slide-nav__first-level--link:hover,
    .slide-nav__parent--link:hover,
    .slide-nav__second-level--link:hover,
    .slide-nav__third-level--link:hover,
    .filter-drawer__wrapper p a:hover,
    .filter-drawer__wrapper li a:hover {
      color: var(--text-color-light);
    }
    .filter-drawer__wrapper svg:hover .hover-fill {
      fill: var(--text-color-light);
    }
  </style>
</div>
