{% comment %} Reset Password Template {% endcomment %}
<section class="reset-password py12">
  <div class="grid__wrapper">
      <div class="span-12">
        {% render 'snip-headings', align: 'a-center', grid: 'span-12', translation: 'customer.recover_password.title' %}
      </div>

      <div class="push-3 span-6">
        <p class="a-center">{{ 'customer.recover_password.enter_for' | t }} {{ email }}</p>

        {% form 'reset_customer_password' %}
          <div class="form grid__wrapper">
            <div class="span-12">
              {%- if form.errors -%}
                <div class="errors note note-error mb3 inline-block w100">
                  <div class="inline-block v-start w10">
                    {% render 'snip-icons',
                       wrapper: '.reset-password',
                       type: 'apollo',
                       icon: 'error',
                       size: '20px',
                       classes: 'mr3',
                       fill: 'var(--error-msg-dark)',
                       hover: 'var(--error-msg-dark)' %}
                  </div>
                  <div class="inline-block v-start mb0 w80">
                    {{ form.errors | default_errors }}
                  </div>
                </div>
              {%- endif -%}
            </div>

            <div class="span-12 mb3">
              <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
              <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
            </div>

            <div class="span-12">
              <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
              <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">
            </div>

            <div class="span-12 mb3">
              <input class="button btn-secondary" type="submit" value="パスワードをリセット" />
              <a class="button " href="{{ routes.account_login_url }}">キャンセル</a>
            </div>
          </div>
        {% endform %}
      </div>
  </div>
</section>
