{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

  if settings.section_title_align == 'left'
    assign heading_align = 'a-left'
  else
    assign heading_align = 'a-center'
  endif

-%}
<div class="global__section contact__form-section section-{{ section.id }} {{ section_padding }}"
  data-section-id="{{ section.id }}"
  data-section-type="contact-form"
  data-section-loaded="false">
  {% render 'snip-headings', align: heading_align, grid: 'span-12' %}

  <div class="contact__form--inner-wrapper">
    {% render 'snip-custom-contact' %}
  </div>
  <style>
    .section-{{ section.id }} .contact__form--inner-wrapper {
      width: {{ section.settings.width }}%;
      margin: 0 auto;
    }
  </style>
</div>
{% schema %}
{
  "name": "Contact form",
  "tag": "section",
  "class": "dynamic-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Contact Form"
    },
    {
      "type": "range",
      "id": "width",
      "min": 20,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Form width",
      "default": 60
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "presets": [{
    "name": "Contact form"
  }],
  "templates": ["404", "article", "page", "product"]
}
{% endschema %}
