{% comment %} Product Page Logic {% endcomment %}
{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign first_3d_model = product.media | where: "media_type", "model" | first

  assign thumbnail_position = section.settings.thumbnail_position
  assign click_to_enlarge = section.settings.click_to_enlarge
  assign enable_video_looping = section.settings.enable_video_looping


  if product.media.size < 1
   assign is_single_image = true
  else
   assign is_single_image = false
  endif

  assign has_media = false
  assign has_video = false
  assign has_plyr = false
  assign has_ytv = false
  for media in product.media
    if media.media_type == "video"
      assign has_plyr = true
      assign has_video = true
      continue
    endif
    if media.media_type == "external_video"
      assign has_ytv = true
      assign has_video = true
      continue
    endif
    if media.media_type == "model"
      assign has_media = true
      continue
    endif
  endfor

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'mb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 mb0'
  endif

  assign call_to_action = 'products.product.add_to_cart' | t

  unless current_variant.available
   assign call_to_action = 'products.product.sold_out' | t
  endunless

  assign coming_soon = false
  assign date_now = "now" | date: "%s"

  for collection in product.collections
    if collection.metafields.my_fields.launch != blank
     assign launch_date = collection.metafields.my_fields.launch.value | date: "%s"
     assign launch_timestamp = launch_date | date: "%s"
     assign icon_date =  collection.metafields.my_fields.launch.value | date: "%m/%d"
     break
    endif
  endfor

  if product.metafields.my_fields.launch != blank
    assign launch_date = product.metafields.my_fields.launch.value | date: "%s"
    assign launch_timestamp = launch_date | date: "%s"
    assign icon_date =  product.metafields.my_fields.launch.value | date: "%m/%d"
  endif

  if launch_date != blank and launch_date > date_now
    assign coming_soon = true
    assign icon_type = 'coming-soon'
    assign icon_text =  'general.sections.countdown.available_html' | t: date: icon_date
    assign call_to_action = 'general.sections.countdown.notification_submit' | t
  endif

  assign flash_sale = false
  if product.metafields.my_fields.sale_end != blank
    assign sale_timestamp = product.metafields.my_fields.sale_end.value | date: "%s"
    assign sale_date = product.metafields.my_fields.sale_end.value | date: "%b %d, %y"
    assign date_now = "now" | date: "%s"

    if sale_timestamp > date_now
      assign flash_sale = true
    endif
  endif

  assign show_section = true
  if section.settings.show_on_coming_soon and coming_soon
    assign show_section = true
  elsif section.settings.show_on_coming_soon == false and coming_soon
    assign show_section = false
  endif

-%}

{% comment %} Product Page Assets {% endcomment %}
{%- if has_media -%}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
{%- endif -%}
{%- if has_plyr -%}
  <link id="PlyrViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/shopify-plyr/v1.0/shopify-plyr.css" media="print" onload="this.media='all'">
{%- endif -%}

{% capture product_gallery_config %}{
  "thumbPosition": {{ section.settings.thumbnail_position | json }},
  "mainSlider": {% if product.media.size <= 1 %}false{% else %}true{% endif %},
  "thumbSlider": {% if product.media.size >= 4 %}true{% else %}false{% endif %},
  "productId": {{ product.id | json }},
  "thumbsShown": 4,
  "clickToEnlarge": {{ click_to_enlarge | json }},
  "isQuick": false
}{% endcapture %}

{% capture product_form_config %}
{ "money_format": {{ shop.money_format | json }},
  "enable_history": true,
  "sold_out": {{ "products.product.sold_out" | t | json }},
  "button": {{ 'products.product.add_to_cart' | t | json }},
  "unavailable": {{ 'products.product.unavailable' | t | json }},
  "quickview": false,
  "featured_product": false,
  "swatches": {{ settings.product_variants | json }}
}
{% endcapture %}

{% comment %} Product Page Template {% endcomment %}
<section
  class="product-page
  product-template product__section--main section-{{ section.id }} global__section {{ section_padding }}"
  id="product-{{ product.id }}"
  data-product-id="{{ product.id }}"
  data-section-id="{{ section.id }}"
  data-url="{{ product.url }}"
  data-section-type="product"
  data-section-loaded="false"
  data-product-video="{{ has_video }}"
  data-product-model="{{ has_media }}"
  {% unless show_section %} style="display: none;"{% endunless %}
  data-asset-url="{{ 'section-product.js' | asset_url }}"
  data-initial-variant="{{ current_variant.featured_media.id }}">

  {% render 'product-json', product: product %}

  <div class="product-top grid__wrapper cg7 sm-cg0 coming-soon--{{ coming_soon }}">
    <article id="product-photos" data-product-gallery
      class="product__section-images product-photos span-6 sm-span-12 v-start carousel-container js-product-gallery single_image--{{ is_single_image }}"
      data-product-single-media-group data-gallery-config='{{ product_gallery_config }}'>
        {% render 'product-image-gallery',
          product: product,
          thumbnail_position: thumbnail_position,
          click_to_enlarge: click_to_enlarge,
          enable_video_looping: enable_video_looping,
          media_type: 'all' %}
    </article>

    <article id="product-description"
      class="product__section-right span-6 sm-span-12 auto v-start px9 sm-px4">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'text_with_icon' -%}
            {%- liquid

                assign has_image = false
                assign has_link = false
                assign has_text = false

                if block.settings.text != blank
                  assign text = block.settings.text | escape
                  assign has_text = true
                endif

                if block.settings.image != blank
                  assign img_url = block.settings.image | img_url: '80x'
                  assign has_image = true
                endif

                if block.settings.link != blank
                  assign has_link = true
                  assign link = block.settings.link
                endif

              -%}

            <div class="product-form__text-icon pt2 mb2" {{ block.shopify_attributes }}>
              {% unless has_image %}
                <div class="product-form__text-icon--icon mr1 lh0">
                  {% render 'snip-icons',
                     wrapper: '.product-form__text-icon',
                     type: 'theme',
                     icon: block.settings.icon,
                     size: '20px',
                     fill: 'var(--text-color)',
                     hover: 'var(--text-color)' %}
                </div>
              {% endunless %}
              {% if has_image %}
                <div class="product-form__text-icon--image mr1 lh0">
                  <img src="{{ img_url }}" alt="{{ block.settings.image.alt }}">
                </div>
              {% endif %}
              {% if has_text %}
                <div class="product-form__text-icon--content rte mb0">
                  {% if has_link %}<a href="{{ link }}" title="{{ text }}">{% endif %}
                    {{ text }}
                  {% if has_link %}</a>{% endif %}
                </div>
              {% endif %}
            </div>
          {%- when 'product_title' -%}
            <h1 class="product-form__title h2 lh2 pt2 mb2" {{ block.shopify_attributes }}>
              {{ product.title }}
            </h1>
          {%- when 'product_form' -%}
            <div class="product-form__variants product__section--variants inline-block" {{ block.shopify_attributes }}>
              {% render 'product-variants',
                product: product,
                block: block,
                section: section,
                current_variant: current_variant,
                product_form_config: product_form_config,
                show_sku: block.settings.show_sku %}
            </div>
          {%- when 'line_item_property' -%}
            <div class="product-form__lineitem-properties product__line-item" {{ block.shopify_attributes }}>
              {% if block.settings.property_type == 'text' %}
                <p class="line-item-property__field sm relative pt2 mb2">
                  <label for="{{ block.settings.title | handleize }}">{{ block.settings.title }}:</label>
                  {%- if block.settings.required -%}
                    <small class="property--required absolute t0 r0">*&nbsp;{{ 'products.product.required' | t }}</small>
                  {%- endif -%}
                  <input id="{{ block.settings.title | handleize }}"
                   type="text"
                   {% if block.settings.required %}required{% endif %}
                   data-product-property
                   name="properties[{{ block.settings.title }}]"
                   data-property-id="{{ block.id }}"
                   value="">
                </p>
              {% elsif block.settings.property_type == 'multi_line_text' %}
                <p class="line-item-property__field sm relative pt2 mb2">
                  <label for="{{ block.settings.title | handleize }}">{{ block.settings.title }}:</label>
                  {%- if block.settings.required -%}
                    <small class="property--required absolute t0 r0">*{{ 'products.product.required' | t }}</small>
                  {%- endif -%}
                  <textarea id="{{ block.settings.title | handleize }}"
                   {% if block.settings.required %}required{% endif %}
                   data-product-property
                   name="properties[{{ block.settings.title }}]"
                   data-property-id="{{ block.id }}"
                   ></textarea>
                </p>
              {% endif %}
            </div>
          {%- when 'product_buttons' -%}
            {%- render 'product-buttons',
              product_type: 'product',
              product: product,
              block: block,
              section: section,
              show_quantity:  block.settings.show_quantity,
              coming_soon: coming_soon,
              call_to_action: call_to_action,
              current_variant: current_variant -%}
          {%- when 'product_prices' -%}
            <div class="product-form__prices product_page__price-wrapper pt2 mb2" {{ block.shopify_attributes }}>
              {%- render 'snip-product-price', variant: current_variant, product: product -%}
              {%- render 'snip-product-unit-price', variant: current_variant -%}
            </div>
          {%- when 'product_pickup' -%}
            <div class="product-form__pickup product-single__store-availability-container no-section-animation"
                data-store-availability-container
                data-product-title="{{ product.title | escape }}"
                data-has-only-default-variant="{{ product.has_only_default_variant }}"
                data-base-url="{{ shop.url }}{{ routes.root_url }}"
                data-variant-id="{{ current_variant.id }}"
                data-section-type="pickup-availability"
                data-asset-url="{{ 'section-pickup-availability.js' | asset_url }}"
                {{ block.shopify_attributes }}></div>
          {%- when 'product_description' -%}
            {%- if product.description != blank -%}
              <div class="product-form__description product-template__description rte mt2 mb2 pt2 pb2 top-border--{{ block.settings.show_top_border }} bottom-border--{{ block.settings.show_bottom_border }}" {{ block.shopify_attributes }}>
                {% if product.description contains '[#' %}
                  {{ product.description | split: '[#' | first }}
                {% else %}
                  {{ product.description }}
                {% endif %}
              </div>
            {%- endif -%}
          {%- when 'social_share' -%}
            <div class="product-form__social product-template__social-share pt2 pb2" {{ block.shopify_attributes }}>
              {% render 'snip-social-sharing',
                share_title: product.title,
                share_permalink: product.url,
                share_image: product %}
            </div>
          {%- when 'rating' -%}
           {%- if product.metafields.reviews.rating.value != blank -%}
             <div class="product-form__rating product__section--rating-wrapper pt2 mb2" {{ block.shopify_attributes }}>
               {% liquid
                assign rating_decimal = 0
                assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                if decimal >= 0.3 and decimal <= 0.7
                 assign rating_decimal = 0.5
               elsif decimal > 0.7
                 assign rating_decimal = 1
                endif
               %}
               <div class="product__section-rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
                 <span aria-hidden="true" class="product__section-rating-star color-icon" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};">
                 </span>
               </div>
               <p class="product__section-rating-text caption">
                 <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
               </p>
               <p class="product__section-rating-count caption">
                 <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                 <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
               </p>
             </div>
           {%- endif -%}
          {%- when 'payment_terms' -%}
            {%- form 'product', product, id: 'product-form-installment' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              <div class="product-form__payment-terms spi-banner" {{ block.shopify_attributes }}>
                {{ form | payment_terms }}
              </div><!-- /#spi-banner -->
            {%- endform -%}
      
          {%- when 'metafield_popup' -%}
            <div class="product-form__popup pt2 mb2" {{ block.shopify_attributes }}>
              {% if block.settings.popup_label != blank and block.settings.popup_metafield_content != blank or block.settings.page != blank %}
              
                <button class="btn-as-link underline js-modal-open" type="button" name="button" data-wau-modal-target="product-modal--{{ forloop.index }}" {{ block.shopify_attributes }}>
                  {{ block.settings.popup_label }}
                </button>
              
                <div data-wau-modal-content="product-modal--{{ forloop.index }}" style="display: none;">
                  {% if block.settings.page != blank %}
                    {% assign feat_page = pages[block.settings.page] %}
                    {{ feat_page.content }}
                  {% else %}
                    <div class="rte">
                      {{ block.settings.popup_metafield_content }}
                    </div><!-- /.rte -->
                  {% endif %}
                </div>
              
              {% endif %}
            </div>
      
      
          {%- when 'product_nav' -%}
            {%- unless collection == blank -%}
              <div class="product-form__breadcrumb-nav grid__wrapper edge pt2 mb2">
                {% render 'product-nav',
                  collection: collection,
                  product: product %}
              </div>
            {%- endunless -%}
          {%- when 'upsell' -%}
            {%- unless block.settings.product.id == product.id -%}
              <div class="product-form__upsell-item--outer pt2 mb2 relative">
                {% assign product = block.settings.product %}
                {% if product != blank %}
                  <div
                  class="product-form__upsell-item js-product-listing"
                  id="product-listing-{{ product.id }}"
                  data-product-id="{{ product.id }}"
                  data-alpha="{{ product.title }}"
                  data-price="{{ product.price }}">
                    <div class="product-form__upsell-container grid__wrapper cg0 rg0 edge border">
                      <div class="product-form_upsell-label py1 a-center span-12 sm-span-12 auto border-bottom">
                        <p class="mb0 h4">{{ block.settings.title }}</p>
                      </div>
                      <div class="product-form__upsell-image span-3 sm-span-3 auto border-right relative">
                        {%- if product.media.size < 1 -%}
                          <div class="box-ratio" style="padding-bottom: 100%;">
                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                          </div>
                        {% else %}
                          {%- assign preview_image = product.featured_media.preview_image -%}
                             <img srcset="{%- if preview_image.width >= 180 -%}{{ preview_image | img_url: '180x' }} 180w,{%- endif -%}
                                {%- if preview_image.width >= 360 -%}{{ preview_image | img_url: '360x' }} 360w,{%- endif -%}
                                {%- if preview_image.width >= 540 -%}{{ preview_image | img_url: '540x' }} 540w,{%- endif -%}"
                                src="{{ preview_image | img_url: '360x' }}"
                                sizes="(min-width: 1601px) 130px, (min-width: 768px) and (max-width: 1600px) 100px, (max-width: 767px) 80px, 130px"
                                height="{{ preview_image.height }}"
                                width="{{ preview_image.width }}"
                                alt="{{ preview_image.alt | escape }}"
                                loading="lazy">
                        {%- endif -%}
                      </div>
                      <div class="product-form__upsell-info span-9 sm-span-9 auto v-end">
                        <div class="product-form__upsell-info--inner px2 py4">
                          <a class="product-form__upsell-info--title mb0" href="{{ product.url }}">
                            {{ product.title }} {{ product.variants.size }}
                          </a>
                        </div>
                        {% if settings.show_collection_swatches or settings.show_product_sizes %}
                          {%- if product.variants.size > 1 -%}
                            <div class="product-form__upsell-info--variants px2 py2 border-top sm-hide">
                              {% render 'snip-product-loop-swatches',
                                product: product,
                                color_swatch_style: settings.color_swatch_style,
                                product_info_align: product_info_align,
                                hide_link: true %}
                            </div>
                          {%- endif -%}
                        {% endif %}
                        <div class="product-form_upsell-buttons border-top grid__wrapper edge cg0 rg0 a-center">
                          <p class="product-form__upsell-info--price varies--{% if product.price_varies %}true{% else %}false{% endif %} mb0 span-4 sm-span-4 py3 v-center auto">
                            {% if product.price < product.compare_at_price %}
                              <span class="product-loop__price--sale onsale inline-block">
                                {{ product.price | money }}
                              </span>
                              <span class="product-loop__price--compare was inline-block hide">
                                {{ product.compare_at_price | money }}
                              </span>
                              {% assign savings = product.compare_at_price | minus: product.price %}
                              <span class="product-loop__price--savings savings hide">
                                ({{ 'collections.general.save' | t }} {{ savings | money }})
                              </span>
                            {% else %}
                              {% if product.price_varies %}
                                <span class="product-loop__price--from">{{ 'products.general.from' | t }} </span>
                                {{ product.price_min | money }}
                              {% else %}
                                {{ product.price | money }}
                              {% endif %}
                            {% endif %}
                          </p>
                          {%- if product.variants.size == 1 and product.available -%}
                            {% form 'product', product,
                             id: product_form_id,
                             class: "product-form__upsell-info--add border-left span-8 sm-span-8 auto py3 mb0 v-center product__form-buttons js-prod-form-submit relative",
                             data-product-id: product.id %}
                               <input class="formVariantId" name="id" type="hidden" value="{{ product.selected_or_first_available_variant.id }}">
                               <input class="formQty" type="hidden" name="quantity" value="1" />
                               <a class="js-ajax-submit" href="{{ product.url }}">{{ 'products.product.add_to_cart' | t }}</a>
                            {% endform %}
                          {%- else -%}
                            {% assign product_url = '/products/' | append: product.handle | append: '?section_id=quickshop' %}
                            <a class="product-form__upsell-info--view border-left span-8 sm-span-8 auto py3 mb0 v-center js-quickview-trigger"
                            data-product-url="{{ product_url }}"
                            href="{{ product.url }}">{{ 'collections.general.view_product_html' | t }}</a>
                          {%- endif -%}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
                <style>
                  .product__upsell-item h3 {
                    position: absolute;
                    top: -10%;
                    {% if section.settings.form_left %}
                      left: 10px;
                      transform: translate(-10%, -10%);
                    {% else %}
                      left: 50%;
                      transform: translate(-50%, -10%);
                    {% endif %}
                    background: {{ section.settings.product_form_background }};
                    padding: 0 15px;
                  }
                </style>
              </div>
            {%- endunless -%}
          {%- when 'sale_end' -%}
            {%- if flash_sale -%}
              <div class="product-form__sale-tag relative">
                <p class="product-form__sale-tag--text mb0 sm">
                  {{ 'products.general.sale_ends_html' | t: date: sale_date }}
                </p>
              </div>
            {%- elsif product.price < product.compare_at_price -%}
              <div class="product-form__sale-tag relative">
                <p class="product-form__sale-tag--text mb0 sm">
                  {{ 'products.general.sale' | t }}
                </p>
              </div>
            {%- endif -%}
          {%- when '@app' -%}
            <div class="product-form__app product__section--app" {{ block.shopify_attributes }}>
              {% render block %}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </article>
  </div>

  {%- if first_3d_model -%}
    <script type="application/json" id="ModelJson-{{ section.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
  {%- endif -%}
  {%- if has_ytv -%}
    <script type="text/javascript">
      // Youtube API callback
      function onYouTubeIframeAPIReady() {
        setTimeout(function() {
          ProductVideo.loadVideos('youtube');
        }, 600);
      }
    </script>
    <script src="https://www.youtube.com/iframe_api" id="youtube-sdk"></script>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Purchase form",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_on_coming_soon",
      "label": "Show on coming soon products",
      "default": false
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "options": [
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "click_to_enlarge",
      "label": "Enable click to enlarge",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "paragraph",
      "content": "Learn more about [Media types](https:\/\/help.shopify.com/en\/manual\/products\/product-media\)"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "blocks": [
    {
      "type": "text_with_icon",
      "name": "Text with icon",
      "limit": 3,
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Choose an icon",
          "options": [
            {
              "value": "bag",
              "label": "Bag"
            },
            {
              "value": "cart",
              "label": "Cart"
            },
            {
              "value": "checkmark",
              "label": "Checkmark"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit_card",
              "label": "Credit card"
            },
            {
              "value": "envelope",
              "label": "Envelope"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "home",
              "label": "Home"
            },
            {
              "value": "info",
              "label": "Info"
            },
            {
              "value": "chat",
              "label": "Chat"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "location",
              "label": "Location"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "sale_tag",
              "label": "Sale tag"
            },
            {
              "value": "search",
              "label": "Search"
            },
            {
              "value": "lock",
              "label": "Secure"
            },
            {
              "value": "truck",
              "label": "Shipping"
            },
            {
              "value": "smile",
              "label": "Smile emoji"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "verified",
              "label": "Verified"
            }
          ],
          "default": "chat"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Or add a custom image",
          "info": "80px x 80px recommended"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "HAVE QUESTIONS?"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "product_title",
      "name": "Title",
      "limit": 1,
      "settings": []
    },
    {
      "type": "product_nav",
      "name": "Products navigation",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Only shows when viewing a product within a collection."
        }
    ]
    },
    {
      "type": "product_form",
      "name": "Variants",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_sku",
          "label": "Show variant SKU",
          "default": true
        }
      ]
    },
    {
      "type": "sale_end",
      "name": "Sale text",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Use metafield 'my_fields.sale_end' to show the date sale price ends. [Learn More](https://www.weareunderground.com/blogs/drop-support/drop-flash-sale-feature)."
        }
      ]
    },
    {
      "type": "upsell",
      "name": "Upsell",
      "limit": 1,
      "settings": [
        {
          "type":"paragraph",
          "content":"Choose an item to upsell on product pages, item will not appear when its own product page is opened."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Buy it with"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    },
    {
      "type": "line_item_property",
      "name": "Line item property",
      "limit": 3,
      "settings": [
        {
          "type": "paragraph",
          "content": "Line item properties allow you to capture additional information when your customers place an order."
        },
        {
          "type": "select",
          "id": "property_type",
          "label": "Choose a property",
          "options": [
            {
              "value": "text",
              "label": "Single line text"
            },
            {
              "value": "multi_line_text",
              "label": "Multiple line text"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading*",
          "default": "Label",
          "info": "*Required."
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        }
      ]
    },
    {
      "type": "product_prices",
      "name": "Prices",
      "limit": 1,
      "settings": []
    },
    {
      "type": "product_buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_quantity",
          "label": "Show quantity selector",
          "default": true
        }
      ]
    },
    {
      "type": "product_description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_top_border",
          "label": "Show top border",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_bottom_border",
          "label": "Show bottom border",
          "default": true
        }
      ]
    },
    {
      "type": "product_pickup",
      "name": "Pickup availability",
      "limit": 1,
      "settings": []
    },
    {
      "type": "social_share",
      "name": "Social share",
      "limit": 1,
      "settings": []
    },
    {
      "type": "rating",
      "name": "Product rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display a rating, add a product rating app. [Learn more](https:\/\/weareunderground.com/blogs/theme-support/how-to-display-product-rating-on-product-grid-and-product-page)"
        }
      ]
    },
    {
      "type": "payment_terms",
      "name": "Payment terms",
      "limit": 1,
      "settings": []
    },
    {
      "type": "metafield_popup",
      "name": "Text popup",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "popup_label",
          "label": "Popup label",
          "default": "Popup label"
        },
        {
          "type": "richtext",
          "id": "popup_metafield_content",
          "label": "Popup content",
          "default": "<p>Add content which will be shown in a popup across all product pages</p>"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Or Show content from a page"
        }
      ]
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
