{% comment %} Addresses Assets {% endcomment %}
<link rel="preload" href="{{ 'section-customers.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'section-customers.css' | asset_url }}"></noscript>

{% comment %} Addresses Template {% endcomment %}
<section
  class="account-addresses pt9 pb9 no-section-animation"
  data-section-type="customer"
  data-asset-url="{{ 'section-customers.js' | asset_url }}">

  <div id="address-loop">
    <div class="grid__wrapper">
      {% paginate customer.addresses by 12 %}
        {% for address in customer.addresses %}
          <div class="address-{{ address.id }} span-4 auto mb6">
            <h2 class="address-title h3">
              {{ address.street }}
              {% if address == customer.default_address %}<span class="sm-caps">(デフォルト)</span>{% endif %}
            </h2>
            {{ address | format_address }}
            <button class="button btn-secondary accounts__edit-address js-modal-open mr3" type="button" name="button" data-wau-modal-target="edit-address-{{ address.id }}">
              編集する
            </button>
            <form class="address-delete-form inline-block" method="post" action="{{ routes.account_addresses_url }}/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
              <input type="hidden" name="_method" value="delete"/>
              <button class="button " type="submit">
                  削除する
              </button>
            </form>
          </div>

          <div class="modal__container" data-wau-modal="edit-address-{{ address.id }}" id="modal-edit-address-{{ address.id }}">
            <div class="modal__inner-wrapper modal__general-modal__wrapper">
              <section class="accounts__edit-address__container">
                <div class="slideout__trigger--close slideout__trigger-edit-address">
                  <button class="slideout__trigger-quickview js-modal-close" aria-controls="edit-address-{{ address.id }}" aria-label="Close edit address form" tabindex="0" type="button" name="button">
                    <div class="icn-close"></div>
                  </button>
                </div>
                <div class="modal__inner-content-container">
                  <h3 class="mb5">配送先情報を修正する</h3>
                  {% form 'customer_address', address %}
                    <div class="form">
                      <div class="last-name">
                        <label for="address_last_name_{{ form.id }}">姓</label>
                        <input type="text"
                          id="address_last_name_{{ form.id }}"
                          class="mb3"
                          placeholder="ガルクラ"
                          name="address[last_name]"
                          value="{{ form.last_name }}"
                          size="40" />
                      </div>
                      <div class="first-name">
                        <label for="address_first_name_{{ form.id }}">名</label>
                        <input type="text"
                          id="address_first_name_{{ form.id }}"
                          class="mb3"
                          placeholder="花子"
                          name="address[first_name]"
                          value="{{ form.first_name }}"
                          size="40" />
                      </div>
                      <div class="phone">
                        <label for="address_phone_{{ form.id }}">電話番号</label>
                        <input type="text"
                          id="address_phone_{{ form.id }}"
                          class="mb3"
                          placeholder="090-0000-0000"
                          name="address[phone]"
                          value="{{ form.phone }}" size="40" />
                      </div>
                      <div class="country simple-select w100">
                        <label for="AddressCountry_{{ form.id }}" class="block mb2">{{ 'customer.addresses.country' | t }}</label>
                        <select
                          id="AddressCountry_{{ form.id }}"
                          class="address-country-option select-selected mb3"
                          data-form-id="{{ form.id }}"
                          name="address[country]"
                          data-default="{{ form.country }}"
                          autocomplete="country">
                          <option value="">
                            {{ 'customer.addresses.country' | t }}
                          </option>
                          {{ all_country_option_tags }}
                        </select>
                      </div>
                      <div class="zip">
                        <label for="address_zip_{{ form.id }}">郵便番号</label>
                        <input type="text"
                          id="address_zip_{{ form.id }}"
                          class="mb3"
                          placeholder="000-0000"
                          name="address[zip]"
                          value="{{ form.zip }}"
                          size="40" />
                      </div>
                      <div class="address_province_container simple-select province w100" id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                        <label id="address_province_label" class="block mb2" for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                        <select
                          id="AddressProvince_{{ form.id }}"
                          class="mb3 select-selected"
                          name="address[province]"
                          data-default="{{ form.province }}">
                          <option value="">
                            {{ 'customer.addresses.province' | t }}
                          </option>
                        </select>
                      </div>
                      <div class="city">
                        <label for="address_city_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                        <input type="text"
                          id="address_city_{{ form.id }}"
                          class="mb3"
                          placeholder="{{ 'customer.addresses.city' | t }}"
                          name="address[city]"
                          value="{{ form.city }}"
                          size="40" />
                      </div>
                      <div class="address1">
                        <label for="address_address1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                        <input type="text"
                          id="address_address1_{{ form.id }}"
                          class="mb3"
                          placeholder="{{ 'customer.addresses.address1' | t }}"
                          name="address[address1]"
                          value="{{ form.address1 }}"
                          size="40" />
                      </div>
                      <div class="address2">
                        <label for="address_address2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                        <input type="text"
                          id="address_address2_{{ form.id }}"
                          class="mb3"
                          placeholder="{{ 'customer.addresses.address2' | t }}"
                          name="address[address2]"
                          value="{{ form.address2 }}"
                          size="40" />
                      </div>
                      <div class="company">
                        <label for="address_company_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                        <input type="text"
                          id="address_company_{{ form.id }}"
                          class="mb3"
                          placeholder="{{ 'customer.addresses.company' | t }}"
                          name="address[company]"
                          value="{{ form.company }}"
                          size="40" />
                      </div>
                      <div class="default mb4">
                        <label>
                          {{ form.set_as_default_checkbox }}
                          <span>デフォルトの配送先に設定する</span>
                        </label>
                      </div>
                      <div class="action_bottom mt8">
                        <input class="button btn-secondary" type="submit" value="配送先情報を修正する" />
                      </div>
                    </div>
                  {% endform %}
                </div>
              </section>
            </div>
          </div>
        {% endfor %}

        <div class="span-12 a-center">
          <button class="btn-outlined accounts__new-address js-modal-open" type="button" name="button" data-wau-modal-target="new-address">新しい配送先を登録する</button>
        </div>

        <div class="modal__container" data-wau-modal="new-address" id="modal-new-address">
          <div class="modal__inner-wrapper modal__general-modal__wrapper">
            <section class="accounts__new-address__container">
              <div class="slideout__trigger--close slideout__trigger-new-address">
                <button class="slideout__trigger-quickview js-modal-close" aria-controls="new-address" aria-label="Close new address form" tabindex="0" type="button" name="button">
                  <div class="icn-close"></div>
                </button>
              </div>
              <div class="modal__inner-content-container">
                <h3 class="mb5">新しい配送先情報を登録する</h3>
                <div id="AddressNewForm">
                  {% form 'customer_address', customer.new_address %}
                    <div class="form">
                      <div class="last-name">
                        <label for="address_last_name_new">姓</label>
                        <input type="text" id="address_last_name_new" class="mb3" placeholder="ガルクラ" name="address[last_name]" value="{{form.last_name}}" size="40" />
                      </div>
                      <div class="first-name">
                        <label for="address_first_name_new">名</label>
                        <input type="text" id="address_first_name_new" class="mb3" placeholder="花子" name="address[first_name]" value="{{ form.first_name }}" size="40" />
                      </div>
                      <div class="phone">
                        <label for="address_phone_new">電話番号</label>
                        <input type="text" id="address_phone_new" class="mb4" placeholder="090-0000-0000" name="address[phone]" value="{{ form.phone }}" size="40" />
                      </div>
                      <div class="country simple-select w100">
                        <label for="AddressCountryNew" class="block mb2">国名</label>
                        <select id="AddressCountryNew" class="select-selected mb3" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">
                          <option value="0">国を選択してください</option>
                          {{ all_country_option_tags }}
                        </select>
                      </div>
                      <div class="zip">
                        <label for="address_zip_new">郵便番号</label>
                        <input type="text" id="address_zip_new" class="mb3" placeholder="000-0000" name="address[zip]" value="{{ form.zip }}" size="40" />
                      </div>
                      <div class="city">
                        <label for="address_city_new">都道府県</label>
                        <input type="text" id="address_city_new" class="mb3" placeholder="都道府県" name="address[city]" value="{{form.city}}" size="40" />
                      </div>
                      <div class="address_province_container simple-select province w100" id="AddressProvinceContainerNew" style="display:none;">
                        <label id="customer_address_province_label" class="block mb2" for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                        <select
                          id="AddressProvinceNew"
                          name="address[province]"
                          data-default="{{ form.province }}"
                          autocomplete="address-level1"
                          class="address_form select-selected mb3"></select>
                      </div>
                      <div class="address">
                        <label for="address_address1_new">住所 1</label>
                        <input type="text" id="address_address1_new" class="mb3" placeholder="○丁目○番" name="address[address1]" value="{{form.address1}}" size="40" />
                      </div>
                      <div class="address2">
                        <label for="address_address2_new">住所 2</label>
                        <input type="text" id="address_address2_new" class="mb3" placeholder="マンション名・部屋番号" name="address[address2]" value="{{form.address2}}" size="40" />
                      </div>
                      <div class="company">
                        <label for="address_company_new">会社名</label>
                        <input type="text" for="address_company_new" class="mb3" placeholder="会社名" name="address[company]" value="{{form.company}}" size="40" />
                      </div>
                      <div class="default mb4">
                        <label>
                          {{ form.set_as_default_checkbox }}
                          <span>デフォルトの配送先に設定する</span>
                        </label>
                      </div>
                      <div class="mt8">
                        <input class="button btn-secondary" type="submit" value="配送先を登録する" />
                      </div>
                    </div>
                  {% endform %}
                </div>
              </div>
            </section>
          </div>
        </div>

        {%- if paginate.items > 12 -%}
          <div class="span-12 address-pagination">{% render 'snip-pagination', paginate: paginate %}</div>
        {%- endif -%}
      {% endpaginate %}
    </div>
  </div>

</section>
<script>
  window.onload = () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  }
</script>
