{% comment %}
section/predictive-search.liquid
{% endcomment %}

{%- if predictive_search.performed -%}
{%- liquid
  assign has_products = false
  assign has_collections = false
  assign has_pages = false
  assign has_articles = false
  assign columns = 0

  if predictive_search.resources.products.size > 0
    assign has_products = true
  endif

  if predictive_search.resources.collections.size > 0
    assign has_collections = true
    assign columns = columns | plus: 1
  endif
  if predictive_search.resources.pages.size > 0
    assign has_pages = true
    assign columns = columns | plus: 1
  endif
  if predictive_search.resources.articles.size > 0
    assign has_articles = true
    assign columns = columns | plus: 1
  endif

  case columns
  when 1
    assign grid_width = 'span-12'
  when 2
    assign grid_width = 'span-6'
  when 3
    assign grid_width = 'span-4'
  endcase

-%}
  <link rel="preload" href="{{ 'component-product-grid.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'component-product-grid.css' | asset_url }}"></noscript>

  <div class="predictive-search-results" id="predictive-search-results">
    <ul id="predictive-search-results-list"
        class="predictive-search__results-list grid__wrapper edge"
        role="listbox"
        aria-labelledby="predictive-search-products">

      <!-- Products -->
      {%- if has_products -%}
        <li class="span-12 auto">
          <h3 id="predictive-search-products" class="predictive-search__heading h4 a-left">
            {{ 'predictive_search.products' | t }}
          </h3>
          <ul class="search__product-loop grid__wrapper">
            {%- for product in predictive_search.resources.products -%}
              <li class="product-index span-3 md-span-6 sm-span-12 auto" role="option">
                {% render 'product-loop-simple', product: product, collection: collection %}
              </li>
            {%- endfor -%}
          </ul>
        </li>
      {%- endif -%}


      <!-- Collections -->
      {%- if has_collections -%}
        <li class="{{ grid_width }} auto">
          <h3 id="predictive-search-collections" class="predictive-search__heading h4 a-left">
            {{ 'predictive_search.collections' | t }}
          </h3>
          <ul>
            {%- for collection in predictive_search.resources.collections -%}
              <li class="predictive-search__list-item" role="option">
                <a class="predictive-search__item" href="{{ collection.url }}" title="{{ collection.title }}">
                  {{ collection.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </li>
      {%- endif -%}


      <!-- Pages -->
      {%- if has_pages -%}
        <li class="{{ grid_width }} auto">
          <h3 id="predictive-search-pages" class="predictive-search__heading h4 a-left">
            {{ 'predictive_search.pages' | t }}
          </h3>
          <ul>
            {%- for page in predictive_search.resources.pages -%}
              <li class="predictive-search__list-item" role="option">
                <a class="predictive-search__item" href="{{ page.url }}" title="{{ page.title }}">
                  {{ page.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </li>
      {%- endif -%}


      <!-- Articles -->
      {%- if has_articles -%}
        <li class="{{ grid_width }} auto">
          <h3 id="predictive-search-articles" class="predictive-search__heading h4 a-left">
            {{ 'predictive_search.articles' | t }}
          </h3>
          <ul>
            {%- for article in predictive_search.resources.articles -%}
              <li class="predictive-search__list-item" role="option">
                <a class="predictive-search__item" href="{{ article.url }}" title="{{ article.title }}">
                  {{ article.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </li>
      {%- endif -%}

      <!-- More results -->
      <li class="predictive-search__list-item predictive-search__list-item--search span-12 auto" role="option">
        <div class="predictive-search__item">
          <button class="button btn-outlined">
            {{ 'predictive_search.search_for' | t: terms: predictive_search.terms }}
          </button>
        </div>
      </li>
    </ul>
  </div>
{%- endif -%}
