{% comment %} Slideshow Assets {% endcomment %}
<link rel="preload" href="{{ 'section-slideshow.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'section-slideshow.css' | asset_url }}"></noscript>

{% comment %} Slideshow Logic {% endcomment %}
{%- liquid
  if section.settings.full_width
    assign full_width =  'edge'
  endif

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

  if section.settings.enable_autoplay
    assign slider_speed = section.settings.slider_speed | times: 1000
  else
    assign slider_speed = false
  endif

  assign enough_to_wrap = false
  if section.blocks.size > 1
    assign enough_to_wrap = true
  endif

-%}

{% comment %} Slideshow Template {% endcomment %}
<div
class="global__section section-slideshow {{ section_padding }}"
data-section-id="{{ section.id }}"
data-asset-url="{{ 'carousel.js' | asset_url }}"
data-section-loaded="false"
data-section-type="carousel">
  <div class="grid__wrapper {{ full_width }}">
    <div class="main-carousel v-center span-12">
      {% capture slideshow_config %}{
        "wrapAround":{{ enough_to_wrap }},
        "dragThreshold":"15",
        "pauseAutoPlayOnHover":false,
        "autoPlay": {{ slider_speed }},
        "fade": true,
        "adaptiveHeight": true,
        "pageDots":{% if section.settings.pager == 'dots' and enough_to_wrap %}true{% else %}false{% endif %},
        "prevNextButtons":{% if section.settings.pager == 'arrows' and enough_to_wrap %}true{% else %}false{% endif %}
     }{% endcapture %}

      {% if section.blocks.size > 0 %}
      <div class="slideshow flickity__section js-carousel" id="slideshow--{{ section.id }}" data-flickity='{{ slideshow_config }}'>
        {% for block in section.blocks %}
          <div id="slide--{{ block.id }}" data-block-id="{{ block.id }}" class="slide--{{ block.id }} slideshow__slide{% if block.settings.image == blank %} slideshow__slide-onboard{% endif %}" data-slider-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
            {% if block.settings.link != blank and block.settings.button_text == blank %}<a href="{{ block.settings.link }}">{% endif %}
            {% if block.settings.image != blank %}
              <div class="slideshow__slide-desktop{% if block.settings.overlay %} overlay{% endif %}">
                {% render 'helper-image',
                   type: block.settings.image,
                   sm_render: '100vw'
                   md_render: '100vw',
                   lg_render: '100vw' %}
              </div>
            {% endif %}
            {% if block.settings.link != blank and block.settings.button_text == blank %}</a>{% endif %}
            {% if block.settings.image == blank %}
              {% capture current %}{% cycle 1, 2 %}{% endcapture %}
              {%- assign placeholder = 'lifestyle-' | append: current -%}
              <div class="demo-1 color-1 placeholder-image">
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            {% endif %}
            {% if block.settings.heading == blank and block.settings.subheading == blank and block.settings.button_text == blank and block.settings.second_button_text == blank %}
            {% assign hide_caption = true %}
            {% endif %}
            {% unless hide_caption %}
            <div class="slideshow__caption slide-{{ block.id }}">
              <div class="slideshow__caption-wrapper">
                {% if block.settings.heading != blank %}
                  <h2 class="slideshow__title slide-animate delay--1">{{ block.settings.heading | escape }}</h2>
                {% endif %}
                {% if block.settings.subheading != blank %}
                  <div class="rte mb0 slide-animate delay--2">
                    {{ block.settings.subheading }}
                  </div>
                {% endif %}
                {% if block.settings.button_text != blank and block.settings.link != blank %}
                  <div class="slideshow__btn-wrapper slide-animate delay--3">
                    <a class="button btn-outlined" href="{{ block.settings.link }}">{{ block.settings.button_text | escape }}</a>
                  </div>
                {% endif %}
                {% if block.settings.second_button_text != blank and block.settings.second_link != blank %}
                <div class="slideshow__btn-wrapper slide-animate delay--3">
                  <a class="button btn-outlined ml3" href="{{ block.settings.second_link }}">{{ block.settings.second_button_text | escape }}</a>
                </div>
                {% endif %}
              </div>
            </div>
            {% endunless %}
            <style>
              .slideshow__caption.slide-{{ block.id }} .slideshow__caption-wrapper {
                {% assign bg_color = block.settings.caption_background %}
                {% assign number = block.settings.caption_background_opacity %}
                {% assign caption_background_opacity = number | divided_by: 100.0 %}
                {% if block.settings.caption_background == 'rgba(0,0,0,0)' %}
                  background: transparent;
                {% else %}
                  background: {{ bg_color | color_modify: 'alpha', caption_background_opacity }};
                {% endif %}
                text-align: {{ block.settings.text_align }};
              }
              .slideshow__caption.slide-{{ block.id }} h2.slideshow__title,
              .slideshow__caption.slide-{{ block.id }} p,
              .slideshow__caption.slide-{{ block.id }} a {
                color: {{ block.settings.slide_text_color }};
              }
              .slideshow__caption.slide-{{ block.id }} .slideshow__btn-wrapper a {
                color: {{ block.settings.slide_text_color }};
                border-color: {{ block.settings.slide_text_color }};
              }
              .slideshow__caption.slide-{{ block.id }} {
                top: {{ block.settings.caption_vertical }}%;
                left: {{ block.settings.caption_horizontal }}%;
                -webkit-transform: translate(-{{ block.settings.caption_horizontal }}%, -{{ block.settings.caption_vertical }}%);
                -ms-transform: translate(-{{ block.settings.caption_horizontal }}%, -{{ block.settings.caption_vertical }}%);
                -moz-transform: translate(-{{ block.settings.caption_horizontal }}%, -{{ block.settings.caption_vertical }}%);
                -o-transform: translate(-{{ block.settings.caption_horizontal }}%, -{{ block.settings.caption_vertical }}%);
                transform: translate(-{{ block.settings.caption_horizontal }}%, -{{ block.settings.caption_vertical }}%);
              }
              @media (min-width: 768px) {
                .slideshow__caption.slide-{{ block.id }} .slideshow__caption-wrapper {
                  max-width: 60%;
                  min-width: max-content;
                }
              }
              @media screen and (max-width: 767px) {
                {%- assign mobile_image = block.settings.mobile_image -%}
                {% assign image_box_ratio = mobile_image.height | append: ".0" | times: 1 | divided_by: mobile_image.width | times: 100 | append: "%" %}

                {% if mobile_image != blank %}
                  .slideshow__caption.slide-{{ block.id }} h2.slideshow__title,
                  .slideshow__caption.slide-{{ block.id }} p,
                  .slideshow__caption.slide-{{ block.id }} a {
                    color: {{ block.settings.slide_mobile_text_color }};
                  }
                  .slideshow__caption.slide-{{ block.id }} .slideshow__btn-wrapper a {
                    border-color: {{ block.settings.slide_mobile_text_color }};
                    color: {{ block.settings.slide_mobile_text_color }};
                  }
                  .slide--{{ block.id }} {
                    background-image: url('{{ mobile_image | img_url: '600x' }}') !important;
                    opacity: 1;
                    {% if block.settings.caption_below %}
                    padding-bottom: 0 !important;
                    {% else %}
                    padding-bottom: {{ image_box_ratio }} !important;
                    {% endif %}
                    background-size: contain;
                    bacground-position: top center;
                    background-repeat: no-repeat;
                  }
                  .slide--{{ block.id }} > a {
                     display: block;
                     width: 100%;
                     padding-bottom: 100%;
                     position: absolute;
                     top: 0;
                     height: 100%;
                   }
                  .slide--{{ block.id }} .slideshow__slide-desktop {
                    display: none;
                  }
                {% else %}
                  .slide--{{ block.id }} .slideshow__slide-desktop .box-ratio {
                    padding-bottom: 400px !important;
                  }
                  .slide--{{ block.id }} .slideshow__slide-desktop img {
                    object-fit: cover;
                    object-position: center;
                    height: 400px !important;
                  }
                  .slide--{{ block.id }} .slideshow__slide-desktop {
                    display: block;
                  }
                {% endif %}
                {% if block.settings.caption_below %}
                  .slideshow__slide .slideshow__caption.slide-{{ block.id }} {
                    position: relative;
                    width: 100%;
                    {% if mobile_image != blank %}
                    margin-top: {{ image_box_ratio }};
                    {% endif %}
                    top: unset;
                    left: unset;
                    transform: translate(0, 0);
                  }
                  .slideshow__slide .slideshow__caption.slide-{{ block.id }} .slideshow__caption-wrapper {
                    width: 100%;
                  }
                {% endif %}
                {% if block.settings.hide_caption_background %}
                  .slideshow__caption.slide-{{ block.id }} .slideshow__caption-wrapper {
                    background: none;
                  }
                {% endif %}

                .slideshow__caption.slide-{{ block.id }} h2.slideshow__title,
                .slideshow__caption.slide-{{ block.id }} p,
                .slideshow__caption.slide-{{ block.id }} a,
                .slideshow__caption.slide-{{ block.id }} .slideshow__btn-wrapper a {
                  color: {{ block.settings.slide_mobile_text_color }} !important;
                  text-align: center !important;
                }
                .slideshow__caption.slide-{{ block.id }} .slideshow__btn-wrapper a {
                  border-color: {{ block.settings.slide_mobile_text_color }};
                }
              }
            </style>
          </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    {% if section.blocks.size == 0 %}
      {%- render 'onboard-no-blocks' -%}
    {% endif %}
  </div>

  <style>
    #slideshow--{{ section.id }} .slideshow__caption h2.slideshow__title {
      font-size: {{ section.settings.slide_heading_size }}px;
      line-height: calc(({{ section.settings.slide_heading_size }}px * .17) + {{ section.settings.slide_heading_size }}px);
    }
    #slideshow--{{ section.id }} .slideshow__caption p,
    #slideshow--{{ section.id }} .slideshow__caption .rte a {
      font-size: {{ section.settings.subheading_size }}px;
      line-height: calc(({{ section.settings.subheading_size }}px * .17) + {{ section.settings.subheading_size }}px);
      margin-bottom: 0;
    }
    @media (max-width: 767px) {
      #slideshow--{{ section.id }} .slideshow__caption h2.slideshow__title {
        font-size: calc({{ section.settings.slide_heading_size }}px - {{ section.settings.slide_heading_size }}px * 0.25);
        line-height: 1;
      }
      #slideshow--{{ section.id }} .slideshow__caption p,
      #slideshow--{{ section.id }} .slideshow__caption .rte a {
        font-size: calc({{ section.settings.subheading_size }}px - {{ section.settings.subheading_size }}px * 0.25);
        line-height: 1;
      }
    }
  </style>

</div>

{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "dynamic-section",
  "max_blocks": 5,
  "blocks": [
    {
      "type": "image",
      "name": "Image slide",
      "settings": [
        {
           "type": "header",
           "content": "Desktop settings"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Desktop Image",
          "info": "2880px x 1620px recommended"
        },
        {
          "type": "checkbox",
          "id": "overlay",
           "label": "Add image overlay",
           "info":"This can help with text contrast"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Caption alignment",
          "default":"center",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type":      "range",
          "id":        "caption_horizontal",
          "min":       0,
          "max":       100,
          "step":      1,
          "unit":      "%",
          "label":     "Caption horizontal position",
          "default":   50
        },
        {
          "type":      "range",
          "id":        "caption_vertical",
          "min":       0,
          "max":       100,
          "step":      1,
          "unit":      "%",
          "label":     "Caption vertical position",
          "default":   50
        },
        {
           "type": "header",
           "content": "Mobile settings"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info":"800px x 1200px recommended"
        },
        {
          "type": "checkbox",
          "id": "hide_caption_background",
          "label": "Hide caption background on mobile"
        },
        {
          "type": "checkbox",
          "id": "caption_below",
          "label": "Position caption below image"
        },
        {
          "type": "color",
          "id": "slide_mobile_text_color",
          "label": "Mobile caption text",
          "default": "#000000"
        },
        {
          "type": "header",
          "content": "Caption content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Slide image title"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Subheading",
          "default": "<p>Slide image subheading</p>"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Add a button",
		      "info": "Visible only if a link is chosen"
        },
        {
          "type": "url",
          "id": "second_link",
          "label": "Button 2 link"
        },
        {
          "type": "text",
          "id": "second_button_text",
          "label": "Button 2 text",
          "default": "Button 2 text",
          "info": "A link must be selected"
        },
        {
          "type": "header",
          "content": "Caption styles"
        },
        {
          "type": "color",
          "id": "slide_text_color",
          "label": "Caption text",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "caption_background",
          "label": "Caption background",
          "default": "#ffffff"
        },
        {
          "type":      "range",
          "id":        "caption_background_opacity",
          "min":       10,
          "max":       100,
          "step":      10,
          "unit":      "%",
          "label":     "Caption background opacity",
          "default":   100
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
	    "label": "Enable full width",
      "default":true
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
	    "label": "Auto-change slides",
      "default": false
    },
    {
      "type":      "range",
      "id":        "slider_speed",
      "min":       3,
      "max":       10,
      "step":      1,
      "label":     "Change images every (seconds)",
      "default":   5
    },
    {
      "type": "select",
      "id": "pager",
      "label": "Navigation style",
      "default":"dots",
      "options": [
        {
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "arrows",
          "label": "Arrows"
        }
      ]
    },
   {
      "type": "header",
      "content": "Slideshow caption text"
    },
    {
      "type":      "range",
      "id":        "slide_heading_size",
      "min":       12,
      "max":       64,
      "step":      1,
      "unit":      "px",
      "label":     "Heading size",
      "default":   32
    },
    {
      "type":      "range",
      "id":        "subheading_size",
      "min":       12,
      "max":       36,
      "step":      1,
      "unit":      "px",
      "label":     "Subheading size",
      "default":   18
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "presets": [{
    "name": "Slideshow",
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }],
  "templates": ["404", "article", "blog", "cart", "collection", "list-collections", "index", "page", "product", "search"]
}
{% endschema %}
